* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------------HEADER----------------------------- */

.logo-header {
  width: 80px;
  height: auto;
}

.parrafo_Header {
  margin: 5px 0 0 20px;
  font-size: 20px;
  font-weight: 10px;
}

.header {
  color: white;
  background-color: rgb(216, 168, 210);
  padding: 15px 50px 15px 30px;
  display: flex;
  justify-content: space-between;
}

.div_headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  height: 85dvh;
}

nav {
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.nav-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/*------------------------------INICIO----------------------------- */

.h1-inicio {
  margin: 20px 0 0 50px;
  font-size: 50px;
}

.p-inicio {
  margin: 0 0px 0 50px;
  font-size: 20px;
}

.imagen-inicio {
  width: 100%;
  height: auto;
}

/*-----------------------CONTACTO----------------------------*/

h2 {
  margin: 20px 0 10px 20px;
}
.h3-contacto {
  margin: 20px 0 30px 20px;
}
p {
  margin: 6px 0px 7px 23px;
}

ul {
  margin: 40px;
  margin-bottom: 12px;
  text-align: justify;
  list-style: none;
}
.imagen-contacto {
  width: 500px;
  height: auto;
  margin: 30px;
  padding: 10px;
}
.div-contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-form {
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-contacto {
  margin: 20px;
  padding: 7px;
  border-radius: 5px;
}

.input-contacto-mensaje {
  margin: 20px;
  padding: 7px;
  border-radius: 5px;
  height: 100px;
}

.input-contacto-boton {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(216, 168, 210);
}

.input-contacto-boton:hover {
  border: solid black 1px;
}
/* ---------------------------------PRODUCTOS----------------------------*/

.h1-productos {
  margin: 20px 20px 10px 20px;
}

.div_Productos {
  display: flex;
  justify-content: space-between;
  background-color: lavenderblush;
}

/* ---------------------------------CARD----------------------------*/
.card {
  width: 300px;
  margin: 15px;
  padding: 30px;
  background-color: lightcoral;
  text-align: center;
  border-radius: 3%;
}

.card-img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}
.card-title {
  margin-top: 10px;
}

/*--------------------------FOOTER-------------------------------*/

footer {
  color: rgb(165, 27, 96);
  background-color: rgb(234, 209, 226);
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}
